/* --------font style--------- */


 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');


 body{

    font-family: 'Poppins', sans-serif;
}



/* -------header style------- */



 .benner{
    
    background-color: #2D25A0;
}



 .title-img{

   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

 .benner-titel h1{

    color: #FFFFFF;
    font-size: 64px;
}

 .benner-titel{

    padding-bottom: 50px;
}

 .benner-titel .button:hover{

    background-color: rgb(195, 245, 245);
    font-size: 25px;
    color: black;
}

 .benner-img img{

    height: 438px;
    width: 556px;
    padding-top: 50px
}
  
 .button{

    height: 44px;
    width: 168px;
    font-size: 16px;
    background: #E02C6D;
    color: white;
    border-radius: 5px;
} 
  
  /* ------------body-styles------------ */


 .all-players{

    height: 2000px;
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    grid-row-gap: 28px;
    grid-column-gap: 30px;
   margin-left: 400px;
   margin-top: 70px;
  
}

 .img img{

    height: 256px;
    width: 300px;
}

 .player-card{

    height: 474px;
    width: 330px;
    background-color: #FFFFFF;
    padding: 15px;
    box-shadow: 0px 0px 40px gainsboro;
   
    
}

 .player{

    height: 426px;
    width: 300px;
    left: 15px;
    top: 15px;
    padding-left: 20px;
    
}
  
 footer{

    height: 213px;
    width: 484px;
   
    margin-left: 630px;
    margin-top: 200px;
    margin-bottom: 50px;
    
}
  
 .footer-img img{

    height: 110px;
    width: 483px;
  
}

 .footer-icone{
    
    color: gray;
    display: flex;
   padding-left: 222px;
    gap: 14px;
    font-size: 30px;
   
}

 .copyright{
      align-items: center;
      padding-left: 214px;
      padding-top: 20px;
}


 

  @media only screen and (max-width:688px) {
    
 .all-players{

      grid-template-columns: repeat(1, 1fr);
      height: 100%;
      width: 100%;
      margin-left: 0%;
      
      
     
   
     
      
}
  
 .player-card{
  box-shadow: 0px 0px 40px gainsboro; 
    background-color:  #FFFFFF;
    
  
   
   
       
}



 .benner-titel{

      padding-left: 40px;

}
    
    
 .title-img{

        display: flex;
        flex-direction: column;
      
}

 #img{
      
      height: 259px;
      width: 329px;
    
}
    
 footer{
     
  margin: 0%;

   
}
    
 .footer-img img{

      margin-left: 50px;
      margin-top: 70px;
      width: 250px;
      height: 50px;
}

 .footer-icone{

      font-size: 20px;
      padding-right: 100px;
      padding-left: 124px;
}
    
 .copyright{

      padding-left: 93px;
      padding-top: 7px;

}
    
    
    
}

                             
      
 
     
